.about-us {
  margin-bottom: 58px;
}

.container-about-us {
  padding: 1px 245px 1px 57px;

}

.about-us-h2 {
  margin: 0 0 14px 0;
  font-size: 40px;
  font-weight: 400;
}

.about-us-p {
  margin: 0;
  color: #666666;
}